<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Forgot your password?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>

    </div>
    </div>

{% endblock %}