<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Set a new password!</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>
        {% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

    </div>
    </div>

{% endblock %}